/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Color Scheme */
:root {
    --lime-green: #00b16a;
    --turquoise: #006f6a;
    --white: #fff;
    --dark-gray: #333;
}

/* Header */
header {
    background-color: royalblue;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    color: var(--white);
}

header p {
    color: var(--white);
    font-size: 1.2rem;
}

/* Hero Section */
#hero {
    background-color: var(--lime-green);
    color: var(--white);
    text-align: center;
    padding: 60px 0;
}

.hero-content h2 {
    font-size: 2.5rem;
}

.hero-content p {
    font-size: 1.3rem;
}

.btn-primary {
    background-color: orange;
    padding: 3px 10px;
    color: var(--white);
    border-radius: 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: background-color 0.5s;
}

.btn-primary:hover {
    background-color: pink;
}

/* Sections */
.container {
    width: 80%;
    margin: 0 auto;
}

#about, #services, #contact-info {
    background-color: var(--white);
    padding: 40px 0;
    text-align: center;
}

.service-item {
    margin-bottom: 30px;
}

#contact-info p {
    font-size: 1.2rem;
}

#booking-form form {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#booking-form input, 
#booking-form select, 
#booking-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#booking-form button {
    background-color: var(--turquoise);
    padding: 15px;
    color: var(--white);
    border-radius: 15px;
    width: 100%;
    font-size: 1.1rem;
}

#booking-form button:hover {
    background-color: var(--lime-green);
}

/* Footer */
footer {
    background-color: var(--turquoise);
    color: var(--white);
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: var(--white);
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
